# Preliminary data analysis of the bitcoin_tweet data set

This is a study on the bitcoin tweets data set available at [kaggle](https://www.kaggle.com/datasets/alaix14/bitcoin-tweets-20160101-to-20190329)

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
file_path = '/content/gdrive/My Drive/Capstone Project/Data/tweets.csv'

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
pd.__version__

'1.3.5'

In [5]:
tweets_btc = pd.read_csv(file_path,sep=';',nrows=100000)
tweets_btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         100000 non-null  int64
 1   user       100000 non-null  object
 2   fullname   99997 non-null   object
 3   url        3322 non-null    object
 4   timestamp  100000 non-null  object
 5   replies    100000 non-null  int64
 6   likes      100000 non-null  int64
 7   retweets   100000 non-null  int64
 8   text       100000 non-null  object
dtypes: int64(4), object(5)
memory usage: 6.9+ MB

In [6]:
tweets_btc.head()

,id,user,fullname,url,timestamp,replies,likes,retweets,text
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0,0,0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,1132977073402736640,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0,0,0,Cardano: Digitize Currencies; EOS https://t.co...
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0,2,1,Another Test tweet that wasn't caught in the s...
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0,0,0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0,0,0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...

In [7]:
tweets_btc.sort_values("likes",ascending=False)

,id,user,fullname,url,timestamp,replies,likes,retweets,text
21,1110302988,halfin,halfin,NaN,2009-01-11 03:33:52+00,790,14470,5542,Running bitcoin
32148,1049167695243960320,souljaboy,Soulja Boy (Drako),NaN,2018-10-08 05:20:45+00,502,11401,3370,Bitcoin
344,1132247273427963904,mrjasonchoi,Jason Choi,NaN,2019-05-25 11:29:20+00,244,5910,1620,"""Bitcoin is not tied to anything""\n\n""Neither ..."
297,1127974397275451392,Rhythmtrader,Rhythm,NaN,2019-05-13 16:30:27+00,115,5549,1954,"The last time Bitcoin broke $8,000:\n\nMicroso..."
29640,1104517707570036740,barrysilbert,Barry Silbert,NaN,2019-03-09 23:01:57+00,190,5209,1790,"Wells Fargo, a Buffett investment, has been fi..."
...,...,...,...,...,...,...,...,...,...
36156,1126939968201535489,GeminiAuction,Gemini Auction,NaN,2019-05-10 18:00:00+00,0,0,0,Today's 4pm ET auction: 71.17 BTC (~453K USD) ...
36155,1126939967928852480,CryptoHourly,crypto Hourly,NaN,2019-05-10 18:00:00+00,0,0,0,"@ #1, Bitcoin with unit price of $6,401.1, mar..."
36154,1126939967857614848,Deribit_Alerts,Deribot,NaN,2019-05-10 18:00:00+00,0,0,0,📊 Top 5 instruments by 24h trading volume on h...
36153,1126939967152721920,PratFelipe,Felipe Prat,NaN,2019-05-10 18:00:00+00,0,0,0,Puedes leer el análisis completo de #Bitcoin d...
99999,1127210309884829696,Scot_Striker,Scott Striker,NaN,2019-05-11 11:54:15+00,0,0,0,"XRP, Bitcoin and other coins to be made availa..."

In [8]:
tweets_btc.sort_values("retweets",ascending=False)

,id,user,fullname,url,timestamp,replies,likes,retweets,text
18363,909864791249846277,iamjamiefoxx,Jamie Foxx,NaN,2019-05-10 16:48:37+00,165,2238,7816,Looking forward to participating in the new @c...
21,1110302988,halfin,halfin,NaN,2009-01-11 03:33:52+00,790,14470,5542,Running bitcoin
221,1128788769489006599,btm_community,Bitcoin Mart,NaN,2019-05-15 22:26:29+00,2104,4425,5070,Free 100 BTM worth of $24 #Airdrop from @btm_c...
32148,1049167695243960320,souljaboy,Soulja Boy (Drako),NaN,2018-10-08 05:20:45+00,502,11401,3370,Bitcoin
77956,1029646380703207427,CryptoGainNews,Crypto Gain 💰,NaN,2018-08-15 08:30:01+00,1718,1098,2268,Earn free Bitcoin using this telegram bot now ...
...,...,...,...,...,...,...,...,...,...
36838,1126942375933349888,ElectronicBlock,ElectronicBlockchain,NaN,2019-05-10 18:09:34+00,0,0,0,Bitstamp to Expand US Operations by Hiring For...
36837,1126942373999775745,OkexRekt,Okex & Bitmex Rekt,NaN,2019-05-10 18:09:34+00,0,0,0,"Liquidated BITMEX long on XBTUSD:📈 6,354.00 $ ..."
36836,1126942365359509505,DetroitCrypto,J. Scardina,NaN,2019-05-10 18:09:32+00,0,0,0,Current Crypto Prices! \n\nBTC: $6384.78 USD\n...
36835,1126942364201836546,MobileStarts,Mo.bi,NaN,2019-05-10 18:09:31+00,0,0,0,New post: Op Ed: Understanding the Latest FinC...
99999,1127210309884829696,Scot_Striker,Scott Striker,NaN,2019-05-11 11:54:15+00,0,0,0,"XRP, Bitcoin and other coins to be made availa..."

Your runtime has 27.3 gigabytes of available RAM

You are using a high-RAM runtime!