# Preliminary data analysis of the bitcoin_tweet data set

This is a study on the bitcoin tweets data set available at [kaggle](https://www.kaggle.com/datasets/alaix14/bitcoin-tweets-20160101-to-20190329)

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
file_path = '/content/gdrive/My Drive/Capstone Project/Data/tweets.csv'

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
pd.__version__

'1.3.5'

In [ ]:
tweets_btc = pd.read_csv(file_path,sep=';')#,nrows=100000)
tweets_btc.info()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,1,2,3,4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20165013 entries, 0 to 20165012
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   id         object
 1   user       object
 2   fullname   object
 3   url        object
 4   timestamp  object
 5   replies    float64
 6   likes      float64
 7   retweets   float64
 8   text       object
dtypes: float64(3), object(6)
memory usage: 1.4+ GB

now let's look at the available data and the tweeets with highest likes, retweeets etc.

In [ ]:
tweets_btc.head()

,id,user,fullname,url,timestamp,replies,likes,retweets,text
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0.0,0.0,0.0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,1132977073402736640,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0.0,0.0,0.0,Cardano: Digitize Currencies; EOS https://t.co...
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0.0,2.0,1.0,Another Test tweet that wasn't caught in the s...
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0.0,0.0,0.0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0.0,0.0,0.0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...

In [ ]:
tweets_btc.sort_values("likes",ascending=False)

,id,user,fullname,url,timestamp,replies,likes,retweets,text
2859416,1113623998045331456.0,ItsArabMoney,Omar,NaN,2019-04-04 02:07:05+00,98.0,291985.0,61585.0,The type of accidents I’m tryna make https://t...
7472491,956217362721644546,netflix,Netflix US,NaN,2018-01-24 17:29:19+00,1695.0,282959.0,64013.0,"FRIENDS 2018 PLOTLINES\n-Joey eats Tide pods, ..."
10634919,953402230467592194,guwop,guelph,NaN,2018-01-16 23:02:59+00,211.0,138468.0,34318.0,if you lost money on bitcoin today target is g...
5612243,939355676551376896,StephenAtHome,Stephen Colbert,/StephenAtHome/status/939355676551376896,2017-12-09 03:47:00+00,1049.0,130455.0,22002.0,"Wow, if I had invested $1,000 in Bitcoin last ..."
17613550,944711893809328128,ChanceHarbour,Chance Harbour,NaN,2017-12-23 23:30:42+00,91.0,124513.0,26413.0,the year is 3000: only two holidays exist - to...
...,...,...,...,...,...,...,...,...,...
19956031,Join and stay tuned 👇https://t.co/BUDEv1EWYb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19956032,1 BTC to 10 randomly selected voters!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19956033,#halo #haloplatform #free https://t.co/7mzIIedwZ7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20062116,by Clark Street Press,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20062117,https://t.co/LfWcM2Ljbb https://t.co/lrdNkrdKta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tweets_btc.sort_values("retweets",ascending=False)

,id,user,fullname,url,timestamp,replies,likes,retweets,text
2868334,938775527439126400.0,TravWeav,Travis Weaver,NaN,2017-12-07 14:21:42+00,4383.0,58619.0,181240.0,"Bought 1,500 bitcoin in 2011 for $2.87 each. I..."
13574214,1160167954220277760,pulte,Bill Pulte,NaN,2019-08-10 12:36:09+00,9880.0,66922.0,178529.0,"I will give $11,294 or a Bitcoin to someone ra..."
14027504,1162706422133604352,pulte,Bill Pulte,NaN,2019-08-17 12:43:07+00,10356.0,58489.0,143404.0,"I will give $10,367 or a Bitcoin to someone ra..."
16954587,1177947556409683976,pulte,Bill Pulte,NaN,2019-09-28 14:05:57+00,5874.0,42325.0,104300.0,"I’ll give $8,112 or a Bitcoin to someone rando..."
7472491,956217362721644546,netflix,Netflix US,NaN,2018-01-24 17:29:19+00,1695.0,282959.0,64013.0,"FRIENDS 2018 PLOTLINES\n-Joey eats Tide pods, ..."
...,...,...,...,...,...,...,...,...,...
19956031,Join and stay tuned 👇https://t.co/BUDEv1EWYb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19956032,1 BTC to 10 randomly selected voters!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19956033,#halo #haloplatform #free https://t.co/7mzIIedwZ7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20062116,by Clark Street Press,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20062117,https://t.co/LfWcM2Ljbb https://t.co/lrdNkrdKta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Handling null values

Data set seems to have a lot of missing values. 
Lets see what percentage of valeus are null for each column.

In [ ]:
tweets_btc. isnull(). sum() * 100 / len(tweets_btc)

id            0.812496
user          6.717045
fullname      6.719911
url          77.245013
timestamp     6.717040
replies       6.717040
likes         6.717040
retweets      6.717040
text          6.720616
dtype: float64

Drop the whole url column and id column.

In [ ]:
tweets_btc=tweets_btc.drop(columns=['id','url'])
tweets_btc. isnull(). sum() * 100 / len(tweets_btc)

user         6.717045
fullname     6.719911
timestamp    6.717040
replies      6.717040
likes        6.717040
retweets     6.717040
text         6.720616
dtype: float64

In [ ]:
tweets_btc.dropna(inplace=True)
tweets_btc. isnull(). sum() * 100 / len(tweets_btc)

user         0.0
fullname     0.0
timestamp    0.0
replies      0.0
likes        0.0
retweets     0.0
text         0.0
dtype: float64

# Remove non English tweets

When we look at the dataset, some of the entries are in other languages. In this section we'll try to remove non English tweets so that we can correctly use the sentiment analysis packages and other NLP later.

In [ ]:
!pip install langdetect
from langdetect import detect

def is_en(txt):
  try:
    return detect(txt)=='en'
  except:
    return False

#tweets_btc_english = tweets_btc[tweets_btc['text'].apply(is_en)]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     |████████████████████████████████| 981 kB 4.9 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993242 sha256=c371dddad3bf3eb50ceadb2083032d5a2e21c2f0f64bdbc0b390bbb2f005dc75
  Stored in directory: /root/.cache/pip/wheels/c5/96/8a/f90c59ed25d75e50a8c10a1b1c2d4c402e4dacfa87f3aff36a
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9

In [ ]:
tweets_btc_english = tweets_btc[tweets_btc['text'].apply(is_en)]
tweets_btc_english.info()

# Saving the preprocessed dataset

Now we have a preprocessed data set with no null values, extracting useful columns, and only selecting English tweets. Save the new data frame to a csv file in the drive.

In [ ]:
save_path = '/content/gdrive/My Drive/Capstone Project/Data/tweets_processed_en_only.csv'
with open(save_path, 'w') as f:
  tweets_btc_english.to_csv(f)

In [ ]:
print("Succesfull YAY !")